@import "../../styles/var";

.gallery_card_container{
    margin-bottom: 87px;
    font-family: "Be Vietnam Pro", sans-serif;
    .gallery_img_wrapper{
        .image_wrapper{
            padding-top: 100%;
            position: relative;
            background-image: url("../../assets/gallery/gallery\ grid.png");
            img{
                width: 95%;
                height: 95%;
                margin: auto;
                position: absolute;
                bottom: 0;
                right: 0;
                object-fit: cover;
                background-position: center;
            }
        }
    }
    .gallery_data_wrapper{
       display: flex;
       flex-direction: column;
       justify-content: center;
       .gallery_card_title{
            font-weight: 300;
            font-size: _rem(32px);
            line-height: 140%;
            color: #CDCDCD;
       }
       .gallery_card_name{
            font-weight: 400;
            font-size: _rem(18px);
            line-height: 36px;
            color: #474DD4;
       }
       .gallery_card_content{
            font-weight: 400;
            font-size: _rem(18px);
            line-height: 36px;
            color: #757575;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            margin-top: 15px;
       }
    }
    @include tab{
        margin-bottom: 30px;
        .gallery_data_wrapper{
            .gallery_card_title{
                font-weight: 300;
                font-size: _rem(16px);
                line-height: 140%;
            }
            .gallery_card_name{
                font-weight: 300;
                font-size: _rem(13px);
                line-height: 36px;
            }
            .gallery_card_content{
                display: none;
            }
        }
    }
}