@import "../../styles/var";

.course_card {
  min-height: 580px;
  &.detail{
    @include small-screen{
      .data_wrapper{
        .inner_wrapper{
          .image_wrapper{
            display: flex;
          }
        }
      }
      .image_wrapper{
        display: none;
      }
    }
  }
  &.right {
    margin-right: -20%;
  }
  &.left {
    margin-left: -20%;
    margin-right: auto;
    .image_wrapper {
      order: -1;
    }
    .data_wrapper {
      justify-content: end;
      .inner_wrapper {
        padding-left: 40px;
        padding-right: 0;
      }
    }
  }
  .data_wrapper {
    display: flex;
    align-items: center;
    .inner_wrapper {
      max-width: 796px;
      padding-right: 40px;
      padding-left: 0;
      .image_wrapper{
        display: none;
      }
      .title {
        font-size: _rem(56px);
        line-height: 66px;
        margin-bottom: 12px;
        font-family: "Gilroy", sans-serif;
      }
      .description {
        font-size: _rem(18px);
        line-height: 36px;
        color: map-get($colors, "secondary-text");
        margin-bottom: 26px;
        font-family: "Be Vietnam Pro", sans-serif;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 5;
        text-align: justify;
      }
      .btn_wrapper {
        button {
          background:transparent;
          border: 2px solid map-get($colors, "green");
          padding: 10px 15px;
          outline: none;
          border-radius: 8px;
          display: flex;
          align-items: center;
          cursor: pointer;
          color: #fff;
          position: relative;
          z-index: 1;
          overflow: hidden;
          &::before {
            content: "";
            width: 0%;
            display: inline-block;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            position: absolute;
            background: linear-gradient(180deg, #58b57a 0%, #0c7856 100%);
            z-index: -1;
            transition: 0.3s linear;
          }
          &:hover{
           &::before{
            width: 100%;
           }
          }
          .icon {
            margin-left: 12px;
            line-height: 0;
          }
        }
      }
    }
  }
  .image_wrapper {
    display: flex;
    align-items: center;
    img {
      width: 100%;
      max-width: 700px;
      height: 100%;
      object-fit: contain;
    }
  }
  @include small-screen {
    margin-right: auto;
    min-height: auto;
    &.left {
      margin-left: auto;
      .data_wrapper {
        justify-content: center;
        .inner_wrapper {
          padding: 0;
        }
      }
    }
    &.right {
      margin-right: auto;
    }
    .data_wrapper {
      justify-content: center;
      text-align: center;
      .inner_wrapper {
        padding: 0;
        .title {
          font-size: _rem(26px);
          line-height: 31px;
          margin-bottom: 15px;
        }
        .description {
          font-size: _rem(16px);
          line-height: 30px;
          margin-bottom: 20px;
        }
        .btn_wrapper {
          button {
            margin: auto;
            font-size: _rem(12px);
          }
        }
      }
    }
    .image_wrapper {
      justify-content: center;
      order: -1;
    }
  }
}
