@import "../../styles/var";

.author_pad_container{
    .author_img{
        img{
            width: 100%;
        }
    }
    .author_detail_wrapper{
        display: flex;
        align-items: center;
    }
}