@import "../../styles/var";

.author_pad_container {
    .author_img {
        text-align: center;
        position: relative;
        .gradiant {
            inset: 0;
            position: absolute;
            background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%);
        }
        img {
            width: 100%;
            max-width: 500px;
            margin: auto;
            height: 100%;
            max-height: 500px;
        }
    }
    .author_head_wrapper {
        .auth_social_icon{
            display: none;
        }
    }
    .author_detail_wrapper {
        display: flex;
        align-items: center;
        font-family: " Be Vietnam Pro", sans-serif;
        .author_social {
            display: none;
        }
        .author_name {
            font-weight: 700;
            font-size: _rem(24px);
            line-height: 36px;
            color: #f3f3f3;
        }
        .author_designation {
            font-weight: 400;
            font-size: _rem(18px);
            line-height: 22px;
            color: #c1c1c1;
            margin-bottom: 10px;
        }
        .border {
            width: 250px;
            height: 2px;
            background: linear-gradient(90deg, #3fa16e 22.92%, #0d7856 53.65%);
            box-shadow: 0 0 10px 1px #3fa16e, inset 0 0 0 #0d7856;
            border-radius: 3px;
        }
        .author_dec {
            margin-top: 37px;
            font-weight: 400;
            font-size: _rem(18px);
            line-height: 26px;
            color: #cecece;
        }
        .auth_social_icon {
            img {
                width: 100%;
                max-width: 30px;
                margin: 4px 0 0;
            }
        }
    }
    &.right {
        text-align: right;
        .author_img {
            order: 1;
        }
        .author_detail_wrapper {
            .border {
                margin-left: auto;
            }
        }
    }
    @include small-screen {
        text-align: center;
        .author_detail_wrapper {
            .border {
                margin: auto;
            }
        }
        &.right {
            text-align: center;
            .author_img {
                order: -1;
            }
            .author_detail_wrapper {
                .border {
                    margin: auto;
                }
            }
        }
        .author_head_wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: 22px;
            .author_social {
                img {
                    width: 100%;
                    max-width: 30px;
                    margin: 4px 0 0;
                }
            }
            .author_name {
                text-align: center;
                color: #f3f3f3;
                font-size: _rem(20px);
                margin-right: 12px;
                display: flex;
                align-items: center;
                gap:  0 10px;
            }
            .auth_social_icon{
                a{
                    line-height: 0;
                    display: inline-block;
                    img{
                        margin: 0;
                    }
                }
                display: block;
            }
        }
        .auth_social_icon {
            display: none;
        }
        .author_designation {
            text-align: center;
            font-size: _rem(14px);
            line-height: 20px;
            color: #c1c1c1;
        }
        .author_dec {
            font-size: _rem(16px);
            color: #b5b5b5;
            line-height: 30px;
        }
    }
}
