@import "../../styles/var";

.course_detail_video{
    .sub_title{
        text-align: center;
        color: #3B5896;
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: _rem(26px);
        line-height: 36px;
        margin-bottom: 8px;
    }
    .title{
        margin-bottom: 17px;
    }
    .video_wrapper{
        position: relative;
        width: 100%;
        padding-top: 50%;
        max-width: 1200px;
        margin: auto;
        iframe{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}