@import "../../styles/var";

.course_detail_video{
    .sub_title{
        text-align: center;
        color: #3B5896;
        font-family: "Be Vietnam Pro", sans-serif;
        font-size: _rem(26px);
        line-height: 36px;
        margin-bottom: 8px;
    }
}