@import "../../styles/var";

.layout {
    .content {
        &.paddingtop {
            margin-top: 90px;
        }
    }
    @include small-screen {
        .content {
            &.paddingtop {
                margin-top: 76px;
            }
        }
    }
    @include tab{
        .content {
            &.paddingtop {
                margin-top: 60px;
            }
        }
    }
}
