@import "../../styles/var";

.courses_wrapper {
  position: relative;
  font-family: "Be Vietnam Pro", sans-serif;
  .course_wrapper {
    cursor: pointer;
    &:hover {
      .course_title {
        .view_btn {
          button {
            padding: 5px 10px;
            border: 2px solid map-get($colors, "green");
            background: transparent;
            color: #fff;
            transition: all ease 0.3s;
            &::before {
              content: "";
              width: 0%;
              display: inline-block;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              position: absolute;
              background: linear-gradient(180deg, #58b57a 0%, #0c7856 100%);
              z-index: -1;
              transition: 0.3s linear;
            }
            &:hover{
             &::before{
              width: 100%;
             }
            }
          }
        }
      }
    }
  }
  &.small {
    .course_icon {
      width: 120px;
      height: 120px;
    }
  }
  .course_icon {
    width: 160px;
    height: 160px;
    position: absolute;
    img {
      width: 100%;
      height: 100%;
      mix-blend-mode: screen;
    }
    &.top_left {
      top: 22%;
      left: 26%;
    }
    &.top-right {
      top: 17%;
      left: 56%;
    }
    &.middle-left {
      top: 46%;
      left: 15.5%;
    }
    &.middle-right {
      top: 36%;
      left: 76.2%;
    }
    &.bottom-left {
      top: 66%;
      left: 35.5%;
    }
    &.bottom-right {
      top: 61.5%;
      left: 65.3%;
    }
  }
  .course_title {
    position: absolute;
    width: 180px;
    line-height: 24px;
    color: #f0f0f0;
    font-size: _rem(18px);
    &.top_left {
      top: 23%;
      right: 77%;
      text-align: right;
    }
    &.top-right {
      top: 19%;
      left: 67%;
      text-align: left;
    }
    &.middle-left {
      top: 50%;
      right: 88%;
      text-align: right;
    }
    &.middle-right {
      top: 38%;
      left: 88%;
      text-align: left;
    }
    &.bottom-left {
      top: 69%;
      right: 68%;
      text-align: right;
    }
    &.bottom-right {
      top: 64%;
      left: 77%;
      text-align: left;
    }
    .view_btn {
      margin-top: 10px;
      // display: none;
      display: inline-block;
      transition: all ease 0.5s;
      button {
        border: 2px solid transparent;
        outline: none;
        background: transparent;
        border-radius: 8px;
        font-size: _rem(14px);
        display: flex;
        align-items: center;
        gap: 0 10px;
        color: #58b57a;
        font-weight: 500;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &::before{
          content: "";
              width: 0%;
              display: inline-block;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              position: absolute;
              background: linear-gradient(180deg, #58b57a 0%, #0c7856 100%);
              z-index: -1;
              transition: 0.3s linear;
        }
        &:hover{
          padding: 5px 10px;
        }
      }
    }
  }
  .particle_canvas {
    // background-color: rgba(red, 0.2);
    width: 10%;
    height: 28%;
    position: absolute;
    left: -0.5%;
    top: 0;
    right: 0;
    margin: auto;
    bottom: 8%;
    .inner_wrapper {
      position: relative;
      height: 100%;
      .title {
        font-weight: 700;
        font-size: _rem(40px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .particles {
        // background-color: rgba(red, 0.5);
        position: absolute;
        inset: 0;
        border: 1px solid red;
        z-index: 9999;
      }
    }
  }

  @include double-extra-large-screen {
    .course_icon {
      width: 125px;
      height: 125px;
    }
    &.small {
      .course_icon {
        width: 105px;
        height: 105px;
      }
    }
  }
  @include extra-large-screen {
    .course_icon {
      width: 105px;
      height: 105px;
    }
    &.small {
      .course_icon {
        width: 95px;
        height: 95px;
      }
    }
    .course_title {
      font-size: _rem(14px);
    }
    .particle_canvas {
      .inner_wrapper {
        .title {
          font-size: _rem(30px);
        }
      }
    }
  }
  @include large-screen {
    .course_icon {
      width: 90px;
      height: 90px;
    }
    &.small {
      .course_icon {
        width: 85px;
        height: 85px;
      }
    }
    .course_title {
      font-size: _rem(12px);
    }
    .particle_canvas {
      .inner_wrapper {
        .title {
          font-size: _rem(20px);
        }
      }
    }
  }
  @include small-screen {
    .course_icon {
      width: 60px;
      height: 60px;
    }
  }
  @media screen and (max-width: 100px) {
    .course_icon {
      width: 65px;
      height: 65px;
    }
  }
}
