@import "../../styles/var";

.mentors {
  .card_wrapper {
    margin: 20px 0;
    .card {
      max-width: 1200px;
      margin: auto;
    }
  }
  @include tab {
    .card_wrapper {
      margin: 0;
      .card {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
}
