@import "../../styles/var";

.card {
    background: linear-gradient(180deg, #353535 0%, #2A2A2A 100%);
    box-shadow: 0px 200px 56px rgba(0, 0, 0, 0.01), 0px 128px 51px rgba(0, 0, 0, 0.08), 0px 72px 43px rgba(0, 0, 0, 0.28), 0px 32px 32px rgba(0, 0, 0, 0.47), 0px 8px 18px rgba(0, 0, 0, 0.54), 0px 0px 0px rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(3.5px);
    min-height: 140px;
    display: flex;
    align-items: center;
    margin-bottom:20px ;
    border-radius: 10px;
    padding:10px 32px;
    cursor: pointer ;
    transition: all ease .2s ;
    &:hover{
       
    }
    .icon{
        max-width: 50px;
        img{
            width: 100%;
        }
    }
    .title {
        padding-left: 30px;
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: pxToRem(22px);
        line-height: 31px;
        font-family: 'Urbanist', sans-serif;
        text-align: center;
        width: 100%;
    }
    @include tab{
        padding: 10px 20px;
        margin-bottom: 16px;
        min-height: 110px;
        .title {
            padding-left: 10px;
            font-size: pxToRem(18px);
        }
    }
}