.course_detail {
  // background-color: #1a1a1a;
  section {
    padding: 100px 0;
    &.fit {
      min-height: 100vh;
    }
    &.center {
      display: flex;
      align-items: center;
    }
    &.mentors {
      margin-bottom: 200px;
    }
  }
  .bg_group {
    // background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #000000 21.88%, #000000 91.82%, rgba(0, 0, 0, 0) 100%);
  }
}
