@import "../../styles/var";

.about_bio_wrapper{
    .card{
        max-width: 1200px;
        margin: auto;
        &:not(:last-child){
            margin-bottom: 140px;
        }
    }
    @include small-screen{
        .card{
            &:not(:last-child){
                margin-bottom: 50px;
            }
        }
    }
}