@import "../../styles/var";

.popup {
  max-width:480px;
  width: 100%;
  background-color: #474dd4;
  position: fixed;
  right: 30px;
  bottom: 100px;
  border-radius: 10px;
  z-index: 9999;
  transform: translateY(200%);
  opacity: 0;
  margin: 20px;
  .wrapper {
    position: relative;
    padding-top: 100%;
    width: 100%;
    height: 100%;
    .image{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .close_button {
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: transparent;
      border: 0;
      outline: 0;
      font-size: 20px;
      z-index: 1;
    }
  }
  @include tab{
    max-width: 300px;
    right: 0;
  }
}
