@import "../../styles/var";

.footer {
  background: rgba(#000, 0.4);
  padding-top: 138px;
  color: #c1c1c1;
  line-height: 36px;
  font-family: "Be Vietnam Pro", sans-serif;
  .floating{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
  }
  .inner_wrapper {
    max-width: 501px;
    .logo{
      max-width: 240px;
      width: 100%;
    }
    .title {
      color: #474dd4;
      font-size: 22px;
      font-weight: 600;
    }
    .address {
      font-weight: 400;
      font-size: 18px;
      line-height: 36px;
    }
    .menus_mobile{
      display: none;
    }
  }
  .achievement_wrapper{
    padding-top: 60%;
    position: relative;
    max-width: 200px;
    .achievement_icon{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .social_links {
    .link {
      a {
        display: flex;
        align-items: center;
        gap: 0 20px;
      }
    }
  }
  .bottom_title{
    font-size: _rem(18px);
    color: #C1C1C1;
    margin-bottom: 10px;
  }
  .awards_wrapper{
    display: flex;
    width: 100%;
    gap: 0 20px;
    .award{
      .title{
        margin-left: 10px;
        font-size: _rem(14px);
      }
    }
  }
  @include large-screen{
    .bottom_title{
      text-align: center;
      font-size: _rem(14px);
    }
    .awards_wrapper{
      display: block;
      text-align: center;
      .award{
        .title{
          font-size: _rem(12px);
        }
      }
    }
    .copy_right{
      font-size: _rem(12px);
    }
  }
  @include small-screen {
    padding-top: 50px;
    font-size: _rem(14px);
    .floating{
      right: 20px;
      bottom: 20px;
    }
    .inner_wrapper {
      .title {
        font-size: _rem(18px);
      }
      .address {
        font-size: _rem(14px);
        line-height: 21px;
      }
      .menus_mobile {
        margin-bottom: 30px;
        display: block;
        .menu_wrapper {
          display: flex;
          .menu {
            flex: 1;
            text-align: center;
            &:not(:last-child) {
              border-right: 1px solid #0066f0;
            }
          }
        }
      }
    }
    .social_links {
      padding: 30px 0;
    }
    .address_wrapper {
      order: -1;
    }
    .links_wrapper {
      .social_links {
        .link {
          a {
            justify-content: center;
          }
          &:nth-child(2n + 1) {
            border-right: 1px solid #555555;
          }
        }
      }
    }
    .menus_wrapper {
      display: none;
    }
  }
}
