@import "../../styles/var";

.news_and_blog_wrapper {
  background-image: url("../../assets/background-texture.png");
  min-height: 100vh;
  display: flex;
  align-items: center;
  .card {
    .description {
      display: -webkit-box !important;
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  @include small-screen {
    .card {
      padding: 25px 20px !important;
      h3 {
        font-size: _rem(16px);
        line-height: 24.5px;
        text-align: center;
        margin-bottom: 15px;
      }
      p {
        font-size: _rem(14px);
        line-height: 26px;
        color: #b5b5b5;
      }
    }
  }
  @include tab {
    .trending_news {
      display: none;
    }
  }
  @include phone {
    .card {
      padding: 18px 12px !important;
    }
  }
}
