@import "../../styles/var";
.banner {
  position: relative;
  .contents {
    width: 100%;
    background: -moz-linear-gradient(
      left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 62%,
      rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 62%,
      rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 62%,
      rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
    align-items: flex-start;
    padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    height: 100vh;
    z-index: 9;
    color: #fff;
    .caption {
      font-size: pxToRem(100px);
      font-weight: bolder;
      div {
        overflow: hidden;
      }
    }

    .inner {
      min-height: 100vh;
      display: flex !important;
      width: 100%;
      max-width: 700px;
      flex-direction: column;
      justify-content: center;
    }
    .description {
      font-family: " Be Vietnam Pro", sans-serif;
      color: #f0f0f0;
      font-size: _rem(18px);
    }
    .view_link {
      font-size: _rem(18px);
      text-align: right;
      display: inline-block;
      cursor: pointer;
      position: relative;
      z-index: 999;
      border: 1px solid yellow;
      background-color: red;
    }
  }

  .slide {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: contain;
    background-position: right;
    // border: 1px solid red;
  }

  :global {
    .slick-dots {
      bottom: 28px;
      z-index: 50;

      li {
        width: 50px;
        height: 6px;

        button {
          width: 100%;
          height: 6px;
          background-color: rgba(255, 255, 255, 0.1) !important;
          border-radius: 5px;
          transition: all ease 0.2s;

          &:after,
          &:before {
            display: none !important;
          }
        }

        &:hover {
          button {
            background-color: #d446b4;
          }
        }

        &.slick-active {
          button {
            background-color: rgba(255, 255, 255, 1) !important;
          }
        }
      }
    }
  }
  @include small-screen {
    .contents {
      background: -moz-linear-gradient(
        bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 27%,
        rgba(0, 0, 0, 0) 100%
      );
      background: -webkit-linear-gradient(
        bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 27%,
        rgba(0, 0, 0, 0) 100%
      );
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 27%,
        rgba(0, 0, 0, 0) 100%
      );
      .caption {
        font-size: pxToRem(80px);
      }
      .inner {
        padding-bottom: 97px;
        justify-content: flex-end;
      }
    }
    .slide {
      background-size: cover;
      background-position: top;
    }
  }
  @include tab {
    .contents {
      .caption {
        font-size: pxToRem(60px);
      }
      .description {
        font-size: pxToRem(14px);
      }
    }
    .slide {
      background-size: contain;
    }
  }
  @include phone {
    .contents {
      background: -moz-linear-gradient(
        bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 39%,
        rgba(0, 0, 0, 0) 100%
      );
      background: -webkit-linear-gradient(
        bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 39%,
        rgba(0, 0, 0, 0) 100%
      );
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 39%,
        rgba(0, 0, 0, 0) 100%
      );
      .caption {
        font-size: pxToRem(40px);
      }
    }
    // .slide{
    //   background-size: contain;
    // }
  }
}

.slide2 {
  display: flex !important;
  width: 100%;
  height: 100vh;
  align-items: center;
}
