@import "../../styles/var";

.comparison_table {
  .mobile_view {
    display: none !important;
  }
  table {
    table-layout: fixed;
    width: 100%;
    border-radius: 30px;
    outline: 2px solid #474dd4;
    overflow: hidden;
    tr {
      th {
        text-align: center;
        font-family: "Gilroy-bold", sans-serif;
        font-size: _rem(32px);
        line-height: 38px;
        padding: 52px 5px;
        &:nth-child(3),
        &:nth-child(2) {
          border-left: 1px solid #474dd4;
        }
        &:nth-child(3) {
          background: linear-gradient(
              104.81deg,
              rgba(68, 76, 235, 0.12) 3.66%,
              rgba(66, 14, 176, 0.12) 101.42%
            ),
            #000000;
        }
      }
    }
    .table_row {
      td {
        padding: 30px 50px;
        color: #9c9c9c;
        line-height: 36px;
        font-size: _rem(18px);
        vertical-align: top;
        // border: 1px solid #222;
        &:nth-child(3),
        &:nth-child(2) {
          border-left: 1px solid #474dd4;
        }
        &:nth-child(3) {
          background: linear-gradient(
              104.81deg,
              rgba(68, 76, 235, 0.12) 3.66%,
              rgba(66, 14, 176, 0.12) 101.42%
            ),
            #000000;
          color: #fff;
        }
      }
      .first_cell {
        vertical-align: middle;
        text-align: center;
        color: #d3d3d3;
        font-size: _rem(30px);
        letter-spacing: 0.05em;
      }
      .mentor_list {
        list-style-image: url("../../assets/list-style.png");
      }
      .others_list {
        list-style-image: url("../../assets/list-gray.png");
      }
    }
  }
  @include small-screen {
    .web_view {
      display: none;
    }
    .mobile_view {
      display: block !important;
      border-radius: 12px;
      background: #000;
      font-size: _rem(14px);
      .head {
        padding: 0 10px;
        // font-size: _rem(18px);
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding:20px 35px;
        }
        .bg {
          background: linear-gradient(
              104.81deg,
              rgba(68, 76, 235, 0.26) 3.66%,
              rgba(66, 14, 176, 0.26) 101.42%
            ),
            #000000;
        }
      }
      .content {
        border-top: 2px solid #474dd4;
      }
      .row {
        padding: 0 10px;
        // font-size: _rem(18px);
        .inner_title {
          text-align: center;
          font-family: 'Gilroy',sans-serif;
          padding: 15px;
          font-size: _rem(18px);
          line-height: 40px;
          color: #EFEFEF;
          background: linear-gradient(
              104.81deg,
              rgba(68, 76, 235, 0.12) 3.66%,
              rgba(66, 14, 176, 0.12) 101.42%
            ),
            #000000;
        }
        .descrpition {
          font-family: "Be Vietnam", sans-serif;
          line-height: 28px;
          padding: 30px 10px;
          padding-left: 28px;
          color: #9C9C9C;
          position: relative;
          &.bg {
            color: #F8F8F8;
            background: linear-gradient(
                104.81deg,
                rgba(68, 76, 235, 0.26) 3.66%,
                rgba(66, 14, 176, 0.26) 101.42%
              ),
              #000000;
          }
          &:first-child {
            color: #9c9c9c;
          }
          &::before {
            content: "";
            background-image: url("../../assets/list-style.png");
            background-repeat: no-repeat;
            display: inline-block;
            width: 15px;
            height: 15px;
            position: absolute;
            left: 10px;
            top: 37px;
          }
          &:first-child {
            &::before {
              background-image: url("../../assets/list-gray.png");
            }
          }
        }
      }
      .title {
        font-size: _rem(22px);
        font-family: "Gilroy-bold", sans-serif;
        text-align: center;
        padding: 20px 5px;
      }
    }
  }
}
