@import "../../styles/var";

.comparison_table {
  .mobile_view {
    display: none;
  }
  table {
    table-layout: fixed;
    width: 100%;
    border-radius: 30px;
    outline: 2px solid #474dd4;
    overflow: hidden;
    tr {
      th {
        text-align: center;
        font-family: "Gilroy-bold", sans-serif;
        font-size: _rem(32px);
        line-height: 38px;
        padding: 52px 5px;
        &:nth-child(3),
        &:nth-child(2) {
          border-left: 1px solid #474dd4;
        }
        &:nth-child(2) {
          background: linear-gradient(
              104.81deg,
              rgba(68, 76, 235, 0.12) 3.66%,
              rgba(66, 14, 176, 0.12) 101.42%
            ),
            #000000;
          border-radius: 30px 0 0 0;
        }
      }
    }
    .table_row {
      td {
        padding: 30px 50px;
        color: #9c9c9c;
        line-height: 36px;
        font-size: _rem(18px);
        vertical-align: top;
        // border: 1px solid #222;
        &:nth-child(3),
        &:nth-child(2) {
          border-left: 1px solid #474dd4;
        }
        &:nth-child(2) {
          background: linear-gradient(
              104.81deg,
              rgba(68, 76, 235, 0.12) 3.66%,
              rgba(66, 14, 176, 0.12) 101.42%
            ),
            #000000;
        }
      }
      .first_cell {
        vertical-align: middle;
        text-align: center;
        color: #d3d3d3;
        font-size: _rem(30px);
        letter-spacing: 0.05em;
      }
      .mentor_list {
        list-style-image: url("../../assets/list-style.png");
      }
      .others_list {
        list-style-image: url("../../assets/list-gray.png");
      }
    }
  }
  @include small-screen {
    .web_view {
      display: none;
    }
    .mobile_view {
      display: block;
      box-shadow: 0px 0px 6px #474dd4, inset 0px 0px 11px 2px #474dd4;
      border-radius: 12px;
      .row {
        border-top: 1px solid #494848;
        padding: 20px 10px;
        font-size: _rem(14px);
        .inner_title {
          text-align: center;
          padding-bottom: 20px;
          font-size: _rem(22px);
          line-height: 40px;
        }
        .descrpition {
          color: #9c9c9c;
          font-family: " Be Vietnam Pro", sans-serif;
          line-height: 22px;
        }
      }
      .title {
        font-size: _rem(22px);
        font-family: "Gilroy-bold", sans-serif;
        text-align: center;
        padding: 20px 5px;
      }
    }
  }
}
